In [7]:
import pandas as pd
import numpy as np

In [111]:
pd.set_option('display.width', 150)

In [18]:
df = pd.read_csv("fraudTrain.csv")

In [113]:
print(df.head())

  trans_date_trans_time            cc_num                            merchant       category    amt      first     last gender  \
0   2019-01-01 00:00:18  2703186189652095          fraud_Rippin, Kub and Mann       misc_net   4.97   Jennifer    Banks      F
1   2019-01-01 00:00:44      630423337322     fraud_Heller, Gutmann and Zieme    grocery_pos 107.23  Stephanie     Gill      F
2   2019-01-01 00:00:51    38859492057661                fraud_Lind-Buckridge  entertainment 220.11     Edward  Sanchez      M
3   2019-01-01 00:01:16  3534093764340240  fraud_Kutch, Hermiston and Farrell  gas_transport  45.00     Jeremy    White      M
4   2019-01-01 00:03:06   375534208663984                 fraud_Keeling-Crist       misc_pos  41.96      Tyler   Garcia      M

                         street            city  ...    long  city_pop                                job        dob  \
0                561 Perry Cove  Moravian Falls  ...  -81.18      3495          Psychologist, counselling 1988-03-09
1  43039 Riley Greens Suite 393          Orient  ... -118.21       149  Special educational needs teacher 1978-06-21
2      594 White Dale Suite 530      Malad City  ... -112.26      4154        Nature conservation officer 1962-01-19
3   9443 Cynthia Court Apt. 038         Boulder  ... -112.11      1939                    Patent attorney 1967-01-12
4              408 Bradley Rest        Doe Hill  ...  -79.46        99     Dance movement psychotherapist 1986-03-28

                          trans_num   unix_time merch_lat merch_long  is_fraud  age
0  0b242abb623afc578575680df30655b9  1325376018     36.01     -82.05         0   31
1  1f76529f8574734946361c461b024d99  1325376044     49.16    -118.19         0   41
2  a1a22d70485983eac12b5b88dad1cf95  1325376051     43.15    -112.15         0   57
3  6b849c168bdad6f867558c3793159a81  1325376076     47.03    -112.56         0   53
4  a41d7549acf90789359a9aa5346dcb46  1325376186     38.67     -78.63         0   33

[5 rows x 23 columns]

In [93]:
df = df.drop(columns=["Unnamed: 0"])

print("Nombre de lignes et colonnes : ")
df.shape

Nombre de lignes et colonnes :

(1296675, 23)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

We have a lot of strings (object)

In [40]:
print(df.isnull().sum().sum(), "missing values found")

0 missing values found

In [115]:
# This dataset is based on credit card transaction from 1st January 2019 to 30 December of 2020. We want to have the age of the account owner during the transaction
# (with a precision of +/- 1 year since we will calculate it from 1st of January 2020). 
from datetime import datetime
df["dob"] = pd.to_datetime(df["dob"])
df["age"] = (pd.Timestamp("2020-01-01") - df["dob"]).dt.days // 365
df = df.drop(columns=["dob"])

In [117]:
pd.set_option('display.float_format', '{:.2f}'.format)
df_val_num = df[["amt","city_pop","age"]]
df_val_num.describe()

             amt   city_pop        age
count 1296675.00 1296675.00 1296675.00
mean       70.35   88824.44      45.78
std       160.32  301956.36      17.39
min         1.00      23.00      14.00
25%         9.65     743.00      32.00
50%        47.52    2456.00      44.00
75%        83.14   20328.00      57.00
max     28948.90 2906700.00      95.00

In [127]:
for col in df.columns:
    print(df[col].value_counts().head(5),"\n")

trans_date_trans_time
2019-04-22 16:02:01    4
2020-06-01 01:37:47    4
2020-06-02 12:47:07    4
2019-11-18 23:03:49    3
2019-12-01 14:11:58    3
Name: count, dtype: int64

cc_num
571365235126           3123
4512828414983801773    3123
36722699017270         3119
213112402583773        3117
3545109339866548       3113
Name: count, dtype: int64

merchant
fraud_Kilback LLC    4403
fraud_Cormier LLC    3649
fraud_Schumm PLC     3634
fraud_Kuhn LLC       3510
fraud_Boyer PLC      3493
Name: count, dtype: int64

category
gas_transport    131659
grocery_pos      123638
home             123115
shopping_pos     116672
kids_pets        113035
Name: count, dtype: int64

amt
1.14    542
1.04    538
1.25    535
1.02    533
1.01    523
Name: count, dtype: int64

gender
F    709863
M    586812
Name: count, dtype: int64

street
0069 Robin Brooks Apt. 695           3123
864 Reynolds Plains                  3123
8172 Robertson Parkways Suite 072    3119
4664 Sanchez Common Suite 930        3117
8030 Beck Motorway                   3113
Name: count, dtype: int64

city
Birmingham     5617
San Antonio    5130
Utica          5105
Phoenix        5075
Meridian       5060
Name: count, dtype: int64

state
TX    94876
NY    83501
PA    79847
CA    56360
OH    46480
Name: count, dtype: int64

zip
73754    3646
34112    3613
48088    3597
82514    3527
49628    3123
Name: count, dtype: int64

lat
36.38    3646
26.12    3613
42.52    3597
43.00    3527
39.89    3123
Name: count, dtype: int64

long
-98.07     3646
-81.74     3613
-82.98     3597
-108.90    3527
-79.79     3123
Name: count, dtype: int64

city_pop
606        5496
1595797    5130
1312922    5075
1766       4574
241        4533
Name: count, dtype: int64

job
Film/video editor           9779
Exhibition designer         9199
Naval architect             8684
Surveyor, land/geomatics    8680
Materials engineer          8270
Name: count, dtype: int64

unix_time
1370177227    4
1335110521    4
1370050667    4
1367602155    3
1364686521    3
Name: count, dtype: int64

merch_lat
41.31    4
41.94    4
42.27    4
41.30    4
34.13    4
Name: count, dtype: int64

merch_long
-87.12    4
-81.22    4
-74.62    4
-85.33    3
-84.89    3
Name: count, dtype: int64

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

age
35    43564
47    41406
32    38529
44    34353
34    33787
Name: count, dtype: int64

In [129]:
# We drop the column "trans_num" because it's just an identifiant for the transaction and it doesn't tell us anything on it
# We drop the columns "first" and "last" that are just the names of the clients because we have no usable informations with the names or at least no
# usable informations that we can't find in other columns (for exemple gender) 
df = df.drop(columns=["trans_num","first","last"])

KeyError: "['trans_num', 'first', 'last'] not found in axis"